.di{
    margin-bottom: 60px;
    margin-left: 400px;
    text-align:center;
    border-radius: 12px;
    margin-top: 30px;
}
.dii{
    padding-top: 20px;
    background-color: antiquewhite;
    width:470px;
    text-align:center;
    height: 200px;
    margin-bottom: 30px;

}
.diii{ 
    padding-top: 20px;
     background-color: antiquewhite;
    width:470px;
    text-align:center;
    height: 200px;

  
}
.dit{
    margin-top: 80px;
    padding-top: 20px;
    margin-left: 400px;
    background-color: antiquewhite;
    width:470px;
    text-align:center;
    height: 200px;
}