.giftima{
    width: 1266px;
    height:400px;
    margin-top: 20px;
}
.top{

    margin-top: 30px;
    text-align: center;
    color:rgb(192, 126, 44);
    font-size: large;
}
h1{
    text-align: center;
}

li{
font-size: large;
}
p{
    font-size: large;
}
