.we{
    margin-top: 30px ;
}

.wed{
    float:left;
    margin-top:30px;
    border-radius: 7px;
width: 350px;
height:350px;
background-color: rgb(238, 174, 174);

margin-bottom: 50px;
margin-left:65px;
}
.wedd{
    float: left;
    margin-top:30px;
    border-radius: 7px;
    margin-left:20px;
    margin-bottom: 50px;
    width: 350px;
    height:350px;
background-color: rgb(182, 246, 246);
}
.weddd{
    float: left;
    margin-top:30px;
    border-radius: 7px;
    margin-left:20px;
    margin-bottom: 50px;
    width: 350px;
    height:350px;
background-color: rgb(182, 246, 246);
}
.wedding2{
    width: 350px;
    height: 200px;
}
.wedding3{
    width: 350px;
    height:220px;
}

.wedding4{
    width: 350px;
    height: 220px;
}
.maindi{
    
    width:1200px;
    height:550px;
}
i{
    margin-top: 30px;
}
h1{
text-align: center;
}
.op{
    margin-left: 1050px;
    padding-right: 50px;
    text-align: center;
    color:white;
    font-size:large;
    background-color:rgb(192, 126, 44);
    text-decoration: white;
    border-radius: 2px;
    border-style:hidden;
    height: 29px;
    width: 35px;
    border-color: rgb(192, 126, 44);
    border-radius: 6px;
  
}